.heading
{
		color : red;
		text-align : center;
}

.abc{
	display:inline;
}
.appcontent
{
	
		
}
.appimage
{
	display:inline;
	vertical-align: middle;
}

.apptitle
{
	margin-left: 5px ;
	display:inline;
	vertical-align: middle;
	font-weight:bold;
	
	
}
.installbutton
{
	margin-left : 10px;
	background-color: red;
	border: 2px;
	padding : 10px;
	text-decoration: none;
	color : white;
	border-radius: 10px;

}
p
{
	font-size : 25px;
}
.appsubcontent
{
	margin-top: 20px;
}