.heading
{
		color : red;
		text-align : center;
}
.appcontent
{
	
		 display:inline-block ;
		  float:left;
		
}
.skmImage
{
	display:inline;
	vertical-align: bottom;
}
.appdescp
{
	margin-left: 10px ;
	display:inline;
	vertical-align: center;
	
}